@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Fjalla+One&family=Oswald&family=Roboto&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Caveat&family=Croissant+One&family=Delicious+Handrawn&family=Fjalla+One&family=Oswald&family=Roboto&family=Young+Serif&display=swap');

html,
body {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(17, 17, 17, 0.85);
}

header {
    background-color: rgb(17, 17, 17, 0.5);
    border-bottom: 1px solid rgb(85, 85, 85);
    font-family: 'Black Ops One', 'sans-serif';
    font-size: 64px;
    color: rgb(60, 255, 0);
    text-align: center;
    padding: 1rem;
}

.main {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid white;
    height: 30rem;
    width: 30rem;
    margin: 0.5rem;
}

.cell {
    border: 1px solid #a3a3a3;
    color: rgb(148, 148, 148);
    font-family: 'Roboto', 'sans-serif';
}

@media (max-width: 1000px) {
    .gameboard {
        height: 25rem;
        width: 25rem;
    }
}

@media (max-width: 860px) {
    .gameboard {
        height: 20rem;
        min-height: 20rem;
        width: 20rem;
        min-width: 20rem;
    }
}

footer {
    font-family: 'Roboto', 'sans-serif';
    background-color: rgb(17, 17, 17, 0.5);
    border-top: 1px solid rgb(85, 85, 85);
    color: rgb(214, 214, 214);
    text-align: center;
    padding: 0.5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: rgb(31, 31, 31, 0.98);
    margin: 5% auto;
    padding: 10px;
    border: 1.5px solid #4cd174;
    height: fit-content;
    width: 60%;
}

#welcome-text {
    font-family: 'Black Ops One', 'sans-serif';
    font-size: 46px;
    color: rgb(60, 255, 0);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#placement-text,
#game-over-text {
    font-family: 'Black Ops One', 'sans-serif';
    font-size: 24px;
    color: rgb(41, 145, 9);
    text-align: center;
    padding: 1rem;
    margin: 0;
}

#modal-container {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid white;
}

#modal-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid white;
    height: 30rem;
    width: 30rem;
    margin: 0.5rem;
}

@media (max-width: 860px) {
    #modal-board {
        height: 25rem;
        min-height: 25rem;
        width: 25rem;
        min-width: 25rem;
    }
}

@media (max-width: 720px) {
    #modal-board {
        height: 20rem;
        min-height: 20rem;
        width: 20rem;
        min-width: 20rem;
    }
    .modal-content {
        padding: 0;
        width: 80%;
    }
}

@media (max-width: 630px) {
    .modal-content {
        border-left: none;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    #modal-container {
        margin: 1rem;
    }
}

#modal-info-container {
    display: flex;
    flex: auto;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ship-name {
    font-family: 'Black Ops One', 'sans-serif';
    font-size: clamp(20px, 4vw, 24px);
    color: rgb(56, 194, 14);
}

#dir-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: #4e8551;
    bottom: 8rem;
}

/* End game */
#game-over-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.game-over-content {
    background-color: rgb(31, 31, 31, 0.98);
    margin: 15% auto;
    padding: 10px;
    border: 1.5px solid #4cd174;
    height: fit-content;
    width: 25%;
    text-align: center;
}

#game-over-text {
    font-size: 34px;
}

#retry-btn {
    font-family: 'Black Ops One', 'sans-serif';
    font-size: 24px;
    color: rgb(189, 189, 189);
    text-align: center;
    padding: 1rem;
    margin: 0;
    cursor: pointer;
}